extends layout

block content
  h1= title
<<<<<<< HEAD
  p Welcome to #{title} 
  p This is a Node Steven Application that has been containerized with Docker!
  p Version: 2
  p Ah! We have a bug!!!
=======
  p Welcome to #{title}
  p This is a Node Application that has been containerized with Docker!
>>>>>>> parent of 3b6ff1d (personalise landing page)
